.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	div {
		border: 1px solid #f00;
		flex-basis: 150px;
		flex-shrink: 0;
		margin-bottom: 20px;
	}
	.one {
		height: 120px;
	}
	.two {
		height: 100px;
	}
	.three {
		height: 40px;
	}
	.four {
		height: 200px;
		border: 1px solid #00f;
	}
}

@media screen and (max-width: 640px) {
	.container {
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.four {
		order: -1;
	}
}