* {
  box-sizing: border-box; }

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.line {
  width: 32px;
  height: 2px;
  margin: 25px auto;
  background: #fff; }

html,
body {
  margin: 0;
  padding: 0; }

#container {
  min-width: 1280px;
  font: 14px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', simsun, sans-serif;
  color: #777; }

.nav {
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .nav h1 {
    font-size: 20px;
    background: #fff url("../images/nav-logo.png") no-repeat;
    background-size: 32px;
    padding-left: 42px;
    margin-left: 60px;
    position: relative; }
    .nav h1:after {
      position: absolute;
      left: 0;
      bottom: -8px;
      content: '';
      width: 100%;
      height: 2px;
      background: #000;
      transform: scaleX(0);
      transition: .8s; }
    .nav h1:hover:after {
      transform: scaleX(1); }
  .nav ul {
    margin-right: 67px; }
    .nav ul li {
      height: 60px;
      line-height: 60px;
      display: inline-block; }
      .nav ul li:first-child {
        border-bottom: 4px solid #ed8476;
        height: 61px; }
      .nav ul li:not(:last-child) {
        margin-right: 36px; }
      .nav ul li:last-child {
        margin-left: 40px;
        padding-left: 21px;
        background: #fff url("../images/nav-user.png") no-repeat 0% 50%;
        background-size: 15px; }
        .nav ul li:last-child a {
          color: #ed8476; }

.slogan {
  height: 690px;
  background: #fff url("../images/slogan-bg.png") no-repeat;
  background-size: cover; }
  .slogan .inner {
    margin-left: 117px; }
    .slogan .inner .title {
      font-size: 48px;
      color: #fff;
      padding-top: 230px;
      margin: 0 0 30px; }
    .slogan .inner .detail {
      font-size: 20px;
      color: #fff;
      margin: 0 0 12px 9px; }
    .slogan .inner .start-btn {
      margin-top: 68px; }
    .slogan .inner a {
      display: block;
      width: 330px;
      height: 64px;
      line-height: 64px;
      border-radius: 2px;
      text-align: center;
      font-size: 28px;
      color: #fff;
      background-color: #e7504d; }

.advancement {
  height: 250px;
  padding-top: 45px; }
  .advancement .list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .advancement .list .list-item {
      width: 25%;
      padding-top: 90px;
      text-align: center; }
      .advancement .list .list-item:first-child {
        background: #fff url("../images/advancement-1.png") no-repeat 50% 0%; }
      .advancement .list .list-item:nth-child(2) {
        background: #fff url("../images/advancement-2.png") no-repeat 50% 0%; }
      .advancement .list .list-item:nth-child(3) {
        background: #fff url("../images/advancement-3.png") no-repeat 50% 0%; }
      .advancement .list .list-item:last-child {
        background: #fff url("../images/advancement-4.png") no-repeat 50% 0%; }
      .advancement .list .list-item:not(:last-child) .inner {
        border-right: 2px solid #999; }
      .advancement .list .list-item .inner {
        height: 50px; }
      .advancement .list .list-item p {
        margin: 5px; }

.question {
  height: 360px;
  background-color: #ededec; }
  .question .item {
    font-size: 50px;
    padding-top: 230px;
    text-align: center;
    background: #ededec url("../images/question-logo.png") no-repeat 50%; }

.search {
  height: 340px;
  background: #fff url("../images/search-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center; }
  .search .title {
    margin: 0 0 10px;
    padding-top: 52px;
    color: #fff; }
  .search .line {
    margin: 10px auto; }
  .search .info {
    color: #fff;
    margin: 18px auto 52px; }
  .search .inner-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px; }
  .search .item {
    margin-right: 30px; }
  .search .dropdown-title {
    position: relative;
    width: 235px;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0;
    background: #fff;
    border: none;
    background: #fff url("../images/select-bg.png") no-repeat 95% 50%;
    cursor: pointer;
    text-align: left; }
    .search .dropdown-title .dropdown-list {
      position: absolute;
      top: 35px;
      left: 0px;
      width: 235px; }
      .search .dropdown-title .dropdown-list li {
        height: 28px;
        line-height: 28px;
        padding-left: 32px;
        background: #e3e3e4; }
        .search .dropdown-title .dropdown-list li:hover {
          background: #be4f48 url("../images/chosen.png") no-repeat 10px 50%;
          color: #fff; }
    .search .dropdown-title.active {
      border: 1px solid #be4f48; }
      .search .dropdown-title.active .dropdown-list {
        top: 34px;
        left: -1px;
        border: 1px solid #be4f48;
        border-top-width: 0; }
  .search a {
    display: inline-block;
    width: 235px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #be4f48; }

.activity {
  height: 605px;
  background: #f7f7f7;
  padding-top: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .activity img {
    padding: 14px 7px;
    border: 1px solid #ddd; }
  .activity .title {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 12px; }
    .activity .title small {
      display: block;
      font-size: 14px;
      margin: 12px 0 8px;
      color: #777; }
  .activity .shanghai {
    margin-top: 0;
    font-size: 22px; }

.view-detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .view-detail .inner-container h2 {
    margin: 0;
    font-size: 20px;
    color: #000;
    text-align: center; }
    .view-detail .inner-container h2 small {
      color: #e7504d; }
  .view-detail .inner-container p {
    line-height: 2.5; }
  .view-detail .view-more {
    display: block;
    width: 105px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 2px solid #e46868;
    color: #e46868;
    margin: 50px auto 0; }

.view-detail-one {
  min-height: 567px; }
  .view-detail-one .img-container {
    -webkit-flex: 2 0 850px;
    -ms-flex: 2 0 850px;
    flex: 2 0 850px;
    background: #fff url("../images/model1.png") no-repeat;
    background-size: cover; }
  .view-detail-one .inner-container {
    -webkit-flex: 1 1 430px;
    -ms-flex: 1 1 430px;
    flex: 1 1 430px;
    padding: 165px 70px 0; }
    .view-detail-one .inner-container h2 {
      margin-bottom: 32px; }
  .view-detail-one ul {
    text-align: center;
    margin-top: 25px; }
    .view-detail-one ul li {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #777;
      border-radius: 50%;
      margin-right: 15px; }
      .view-detail-one ul li.active {
        background: #777; }

.view-detail-two {
  height: 521px; }
  .view-detail-two .inner-container {
    -webkit-flex: 1 0 430px;
    -ms-flex: 1 0 430px;
    flex: 1 0 430px;
    padding-top: 175px; }
    .view-detail-two .inner-container h2 {
      font-size: 22px;
      margin-bottom: 10px; }
    .view-detail-two .inner-container .view-more {
      width: 170px;
      height: 42px;
      line-height: 42px;
      margin-top: 0; }
    .view-detail-two .inner-container:first-child {
      background: #e7504d;
      color: #fff; }
      .view-detail-two .inner-container:first-child h2 {
        color: #fff; }
      .view-detail-two .inner-container:first-child .line {
        color: #fff; }
      .view-detail-two .inner-container:first-child .view-more {
        border-color: #fff;
        color: #fff; }
    .view-detail-two .inner-container:nth-child(2) {
      -webkit-flex: 1 0 420px;
      -ms-flex: 1 0 420px;
      flex: 1 0 420px;
      color: #000; }
      .view-detail-two .inner-container:nth-child(2) h2 {
        color: #333; }
      .view-detail-two .inner-container:nth-child(2) .line {
        background: #333; }
      .view-detail-two .inner-container:nth-child(2) .view-more {
        color: #e7504d;
        border-color: #e7504d; }
  .view-detail-two .img-container {
    -webkit-flex: 1 0 430px;
    -ms-flex: 1 0 430px;
    flex: 1 0 430px;
    background: #fff url("../images/model2.png") no-repeat;
    background-size: cover;
    position: relative; }
    .view-detail-two .img-container:before {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: '';
      border-top: 20px solid transparent;
      border-left: 20px solid #fff;
      border-bottom: 20px solid transparent; }

.volunteer {
  height: 750px;
  padding-top: 120px; }
  .volunteer .title {
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: #333; }
  .volunteer .description {
    width: 420px;
    font-size: 12px;
    margin: 25px auto;
    text-align: center; }
  .volunteer .inner-container {
    margin-top: 110px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 142px; }
    .volunteer .inner-container .info {
      -webkit-flex: 1 0 288px;
      -ms-flex: 1 0 288px;
      flex: 1 0 288px;
      margin-right: 75px; }
      .volunteer .inner-container .info li {
        font-size: 14px;
        color: #333;
        margin-bottom: 56px; }
        .volunteer .inner-container .info li h3 {
          margin: 0; }
      .volunteer .inner-container .info p {
        font-size: 12px;
        margin: 27px 0;
        line-height: 2; }
      .volunteer .inner-container .info .more {
        float: right;
        margin-top: -17px;
        padding-left: 18px;
        background: #fff url("../images/arrow.png") no-repeat 0 50%; }
    .volunteer .inner-container .infomation {
      -webkit-flex: 1 0 640px;
      -ms-flex: 1 0 640px;
      flex: 1 0 640px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .volunteer .inner-container .infomation input[type='text'] {
        -webkit-flex: 2 1 310px;
        -ms-flex: 2 1 310px;
        flex: 2 1 310px;
        max-height: 40px;
        border: none;
        background: #ededee;
        margin-bottom: 14px;
        margin-right: 18px;
        padding: 0 20px;
        outline: none;
        color: #333; }
        .volunteer .inner-container .infomation input[type='text']:nth-child(2n) {
          margin-right: 0; }
      .volunteer .inner-container .infomation textarea {
        -webkit-flex: 2 1 640px;
        -ms-flex: 2 1 640px;
        flex: 2 1 640px;
        width: 640px;
        height: 120px;
        padding: 20px;
        overflow: visible;
        border: none;
        background: #ededee;
        outline: none;
        resize: none; }
      .volunteer .inner-container .infomation input[type='submit'] {
        -webkit-flex: 2 1 640px;
        -ms-flex: 2 1 640px;
        flex: 2 1 640px;
        max-height: 40px;
        outline: none;
        border: none;
        background: #ededee;
        color: #333;
        font-size: 16px; }

.contact {
  height: 358px;
  padding-top: 92px;
  background: #33363f;
  color: #fff; }
  .contact h2 {
    margin: 0 0 12px 0;
    text-align: center;
    font-size: 20px; }
  .contact p {
    text-align: center;
    font-family: Simsun;
    line-height: 1;
    margin: 0 0 8px; }
  .contact form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 510px;
    height: 40px;
    margin: 30px auto 0; }
    .contact form input {
      border: none;
      outline: none; }
    .contact form input[type='email'] {
      width: 430px;
      padding: 12px 10px;
      color: #333; }
    .contact form input[type='submit'] {
      width: 80px;
      background: #696266;
      color: #fff; }
  .contact ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 36px; }
    .contact ul li {
      margin-right: 25px; }

.footer {
  height: 56px;
  padding: 0 40px 0 100px;
  background: #303039;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer a {
    display: block;
    height: 56px;
    line-height: 56px;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
