$navBackGround: #2b2f3d;
$navHoverBackGround: #393d4e;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #333;
}

// main-header
.main-header {
	min-width: 1280px;
	height: 56px;
	background: #2289bf;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	.logo {
		margin-left: 50px;
	}
	.search {
		margin-right: 94px;
		input {
			width: 312px;
			height: 28px;
			border-radius: 15px;
			border: none;
			outline: none;
			padding-left: 40px;
			background: #fff url('../images/search.png') no-repeat 15px 50%;
		}
		.sign-up {
			display: inline-block;
			background: #2289bf url('../images/user.png') no-repeat;
			padding-left: 18px;
			margin-left: 20px;
			color: #fff;
		}
	}
}

//container
.container {
	width: 1280px;
	min-height: 1280px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.left-part {
	width: 260px;
	min-height: 1280px;
	font-size: 12px;
	background-color: $navBackGround;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	.user-info {
		height: 150px;
		background: #2b2f3d;
		padding: 18px 0 0 45px;
	}
	.avatar-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		img {
			width: 48px;
			height: 48px;
			padding: 3px;
			border-radius: 50%;
			border: 2px solid #ddd;
		}
		span {
			color: #fff;
			margin-left: 15px;
		}
	}
	.detail {
		color: #6e8098;
		margin-top: 23px;
		padding-left: 18px;
		li {
			display: inline-block;
			padding-right: 30px;
			span {
				display: block;
				margin-bottom: 5px;
			}
			&+li {
				padding-left: 30px;
				border-left: 2px solid #323646;
			}
		}
	}
	nav {
		li {
			color: #6e8095;
			cursor: pointer;
			ul {
				// display: none;
				visibility: hidden;
				max-height: 0;
			}
			&:hover {
				& > ul {
					// display: block;
			    	transition: max-height 2s;
					visibility: visible;
					max-height: 3000px;
				}
			}
		}
		& > ul > li {
			padding-left: 46px;
			line-height: 46px;
			&:hover li {
				line-height: 26px;
			}
			&:not(:first-child) {
				line-height: 46px;
			}
			& > ul {
				padding-left: 25px;
				li {
					img {
						margin-right: 10px;
					}
					span {
						padding-left: 20px;
						background: $navHoverBackGround url('../images/icon-folder.png') no-repeat 0 50%;
					}
					ul {
						padding-left: 32px;

					}
					li {
						padding-left: 16px;
						background: $navHoverBackGround url('../images/icon-doc.png') no-repeat 0 50%;
					}
					&:hover {
						color: #fff;
					}
				}
			}
			&:first-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-chart.png') no-repeat 0 50%;
			}
			&:nth-child(2) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(3) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
			}
			&:nth-child(4) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(5) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:last-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-account.png') no-repeat 0 50%;
			}
			&:hover {
				color: #fff;
				background: $navHoverBackGround;
				&:first-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-chart.png') no-repeat 0 50%;
				}
				&:nth-child(2) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(3) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
				}
				&:nth-child(4) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(5) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:last-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-account.png') no-repeat 0 50%;
				}
			}
		}
		.second-class-list {

		}
	}
}

.right-part {
	width: 1020px;
	background: #eee;

	nav {
		height: 30px;
		line-height: 30px;
		padding-left: 30px;
		background: #fff;
		li {
			display: inline-block;
			margin-right: 7px;
			color: #bcbbbb;
			&:first-child {
				margin-right: 13px;
			}
			a {
				color: #bcbbbb;
				&.active {
					color: #6998c2;
				}
			}
		}
	}
	.inner-container {
		padding: 20px 70px 0 60px;
		.search {
			background: #fff;
			height: 86px;
			color: #b1b0b0;
			font-size: 12px;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 15px 32px;
			margin-bottom: 10px;
			border: 1px solid #ddd;
			select {
				width: 70px;
				height: 25px;
				border: none;
				outline: none;
				border: 2px solid #b1b0b0;
				border-radius: 0;
				-webkit-appearance: none;
				color: #000;
				padding-left: 10px;
				margin-left: 15px;
				background: #fff url('../images/select-black.png') no-repeat 48px 8px;
			}
			label {
				display: block;
				margin-bottom: 10px;
			}
			.form-group {
				&:first-child {
					margin-right: 38px;
					select {
						background: #fff url('../images/select-blue.png') no-repeat 48px 8px;
					}
				}
				&:nth-child(2) {
					padding-right: 30px;
					margin-right: 32px;
					background: #fff url('../images/search-exchange.png') no-repeat 100% 50%;
					select {
						width: 120px;
						background-position: 98px 8px;
					}
				}
				&:nth-child(3) {
					margin-right: 15px;
					label {
						margin-right: 15px;
					}
				}
				&:last-child button {
					border: none;
					outline: none;
					width: 50px;
					height: 25px;
					background: #388ac1;
					color: #fff;
					border-radius: 2px;
					cursor: pointer;
					margin-top: 15px;
					&:active {
						background: #499bd2;
					}
				}
			}
			.multiple {
				label {
					display: inline-block;
				}
			}
			#date,
			#done {
				width: 120px;
				background-position: 98px 8px;
			}
		}

		.history {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			div {
				border-top: 1px solid #ddd;
				border-left: 1px solid #ddd;
			}

			.arrow-left {
				width: 30px;
				height: 64px;
				background: #fff url('../images/history-arrow-left.png') no-repeat 50% 50%;
			}
			.arrow-right {
				width: 30px;
				height: 64px;
				background: #fff url('../images/history-arrow-right.png') no-repeat 50% 50%;
				margin-left: 5px;
			}
			.item {
				width: 110px;
				height: 64px;
				margin-left: 5px;
				background: #fff;
				padding: 15px 0 0 28px;
				time {
					display: block;
					font-size: 12px;
					margin-bottom: 10px;
				}
				span {
					font-size: 18px;
					color: #ed7118;
					padding-left: 10px;
					background: #fff url('../images/history-cash.png') no-repeat 0 50%;
				}
				&.active {
					border-top: 5px solid #4388c9;
					padding-top: 11px;
				}
			}
			.date {
				-webkit-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
				background: #fff;
				margin-left: 5px;
				background: #fff url('../images/history-calendar.png') no-repeat 20px 50%;
				font-size: 14px;
				padding: 28px 0 0 64px;
			}
		}

		.stat {
			h3 {
				margin: 22px 0 5px;
				font-size: 12px;
			}
			.inner {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				.item {
					-webkit-flex: 1 0 200px;
					    -ms-flex: 1 0 200px;
					        flex: 1 0 200px;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-justify-content: space-between;
					    -ms-flex-pack: justify;
					        justify-content: space-between;
					height: 72px;
					background: #fff;
					margin-right: 30px;
					padding: 14px 0 0 10px;
					font-size: 10px;
					border: 1px solid #ddd;
					border-left-width: 5px;
					border-left-style: solid;
					span {
						display: block;
						margin-top: 5px;
						&:last-child {
							margin-top: 10px;
						}
					}
					.img {
						width: 60px;
						height: 46px;
						margin-right: 18px;
					}
					&:first-child {
						border-left-color: #44b29e;
						.img {
							background: #44b29e;
						}
					}
					&:nth-child(2) {
						border-left-color: #388ac1;
						.img {
							background: #388ac1;
						}
					}
					&:nth-child(3) {
						border-left-color: #d04b36;
						.img {
							background: #d04b36;
						}
					}
					&:last-child {
						border-left-color: #e2cd47;
						.img {
							background: #e2cd47;
						}
					}
				}
			}
		}

		.fourth {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			margin-top: 15px;
			.first,
			.second {
				background: #fff;
				border-radius: 15px;
				height: 356px;
				h3 {
					height: 40px;
					line-height: 40px;
					background: #f4f5f6;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
					padding-left: 22px;
					font-size: 14px;
					color: #ccc;
					border-bottom: 1px solid #ddd;
				}
			}
			.first {
				-webkit-flex: 1 0 530px;
				    -ms-flex: 1 0 530px;
				        flex: 1 0 530px;
				margin-right: 10px;
				.inner {
					padding: 12px 22px;
					ul {
						z-index: 100;
						li {
							display: inline-block;
							width: 85px;
							height: 28px;
							line-height: 28px;
							background: #ededf0;
							text-align: center;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
							&.active {
								-webkit-transform: translateY(2px);
								        transform: translateY(2px);
								background: #fff;
								border: 1px solid #ddd;
								border-bottom-width: 0;
							}
						}
					}
					div {
						padding: 28px 38px;
						border: 1px solid #ddd;
						border-radius: 10px;
						border-top-left-radius: 0;
					}
					table {
						width: 100%;
						td {
							width: 100px;
							height: 30px;
							line-height: 30px;
							font-size: 14px;
							border: 1px solid #ddd;
							text-align: center;
							&:hover {
								background: #f4f5f6;
							}
						}
					}
				}
			}
			.second {
				-webkit-flex: 1 0 350px;
				    -ms-flex: 1 0 350px;
				        flex: 1 0 350px;
				.inner {
					padding: 16px 36px;
					color: #ccc;
					font-size: 14px;
					h4 {
						padding-left: 18px;
						margin-bottom: 8px;
						small {
							display: block;
						}
					}
					span {
						display: block;
						margin-top: 8px;
						color: #000;
					}
					.group {
						border-top: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						&:after {
							display:block;
							clear:both;
							content:"";
							visibility:hidden;
							height:0ï¼›
						}
						.price {
							padding: 10px 18px;
							float: left;
							min-width: 94px;
							border-right: 1px solid #ddd;
							box-sizing: content-box;
						}
						.people {
							padding: 10px 18px;
							float: left;
						}
					}
					.response {
						padding-left: 18px;
						margin-top: 8px;
						min-height: 140px;
						border-bottom: 1px solid #ddd;
						.title {
							margin-bottom: 8px;
						}
						.content {
							color: #000;
						}
					}
					.behaviour {
						margin-top: 6px;
						label {
							float: left;
							cursor: pointer;
							span {
								width: 15px;
								height: 15px;
								background: #ddd;
								display: inline-block;
								&:active {
									background: #333;
								}
							}
						}
						input[type="checkbox"] {
						    -webkit-appearance: none;
						    height: 15px;
						    vertical-align: middle;
						    width: 15px;
						    outline: none;
						    background: #ddd;
						}
						input[type="checkbox"]:checked {
						    background: #ddd url('../images/checkbox.png') no-repeat 50% 50%;
						}
						button {
							float: right;
							width: 50px;
							height: 25px;
							border: none;
							outline: none;
							background: #388ac1;
							color: #fff;
							border-radius: 3px;
							cursor: pointer;
							&:active {
								background: #499bd2;
							}
						}
					}
				}
			}
		}

		.last {
			margin-top: 10px;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			h3 {
				height: 40px;
				line-height: 40px;
				background: #f4f5f6;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				padding-left: 22px;
				font-size: 14px;
				color: #ccc;
				border-bottom: 1px solid #ddd;
			}
			.calendar {
				$weekendColor: #cc3024;
				-webkit-flex: 1 0 350px;
				    -ms-flex: 1 0 350px;
				        flex: 1 0 350px;
				border-radius: 10px;
				border: 1px solid #ddd;
				background: #fff;
				margin-right: 12px;
				.select-group {
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					padding: 10px 22px;
					select {
						position: relative;
						-webkit-appearance: none;
						border: 1px solid #ddd;
						border-radius: 0;
						outline: none;
						height: 20px;
						margin-right: 8px;
						background-image: url('../images/calendar-arrow.png');
						background-repeat: no-repeat;
						cursor: pointer;
						&:first-child {
							width: 64px;
							padding-left: 5px;
							background-position: 50px 50%;
						}
						&:nth-child(2) {
							width: 85px;
							padding-left: 25px;
							background-position: 50px 50%;
						}
						&:nth-child(3) {
							width: 75px;
							padding-left: 5px;
							background-position: 60px 50%;
						}
						&:after {
							position: absolute;
							content: '1';
							width: 1px;
							height: 20px;
							top: 0;
							right: 30px;
						}
					}
					button {
						border-radius: 0;
						width: 65px;
						height: 20px;
						outline: none;
						border: 1px solid #ddd;
						background: #fff;
						cursor: pointer;
						&:active {
							background-color: #ddd;
						}
					}
				}
				.table {
					padding: 0 22px 10px 22px;
					tr {
						margin-bottom: 2px;
						display: block;
					}
					th {
						width: 45px;
						max-height: 30px;
						line-height: 30px;
						text-align: center;
						border-bottom: 2px solid #ddd;
						border-top: 2px solid #b2cfed;
						text-align: center;
					}
					td {
						width: 45px;
						max-height: 22px;
						line-height: 22px;
						text-align: center;
						&.weekend {
							time {
								color: $weekendColor;
							}
						}
						&.holiday {
							span {
								color: $weekendColor;
							}
						}
						&.selected {
							border: 1px solid #f8d573;
						}

						time {
							font-size: 12px;
						}
						span {
							display: block;
							font-size: 12px;
						}
					}
				}
			}
			.rank {
				-webkit-flex: 1 0 520px;
				    -ms-flex: 1 0 520px;
				        flex: 1 0 520px;
				border-radius: 10px;
				border: 1px solid #ddd;
				background: #fff;

				.table {
					padding: 20px 42px;
					font-size: 12px;
					table {
						width: 100%;
					}
					th,
					td {
						border: 1px solid #ddd;
						text-align: center;
						height: 25px;
						line-height: 25px;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-align-items: center;
						    -ms-flex-align: center;
						        align-items: center;
						-webkit-justify-content: center;
						    -ms-flex-pack: center;
						        justify-content: center;
					}
					tr {
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
					}
					th,
					td {
						&:first-child {
							// width: 68px;
							-webkit-flex: 1 0 68px;
							    -ms-flex: 1 0 68px;
							        flex: 1 0 68px;
						}
						&:nth-child(2) {
							// width: 92px;
							-webkit-flex: 1 0 92px;
							    -ms-flex: 1 0 92px;
							        flex: 1 0 92px;
						}
						&:last-child {
							// width: 290px;
							-webkit-flex: 1 0 270px;
							    -ms-flex: 1 0 270px;
							        flex: 1 0 270px;
						}
					}
					span {
						height: 25px;
						line-height: 25px;
						margin-right: 15px;
					}
					meter {
						width: 165px;
						height: 5px;
						-webkit-appearance: none;
					}
					meter::-webkit-meter-optimum-value {
						background: #ed6e52;
					}


					meter::-webkit-meter-suboptimum-value {
						background: #f19f4f;
					}


					meter::-webkit-meter-even-less-good-value {
						background: #7fcbf0;
					}

					tr:not(:first-child):hover {
						background: #eee;
						cursor: pointer;
					}
				}
			}
		}
	}

}